<div class="d-flex justify-content-between flex-column p-3" id="sidebar">
	<div class="d-flex flex-column mt-5">
		<div class="mb-3">
			<a href="#">Alfredo Jimenez de Rios</a>
		</div>
		<div class="mb-3">
			<a href="#">Rosalia Magdaleno Garcia</a>
		</div>
		<div class="mb-3">
			<a href="#">Maritea Palacios Sancho</a>
		</div>
	</div>

	<div class="d-flex flex-column">
		<button class="btn btn-success mb-3">FINALIZAR</button>
		<button class="btn btn-danger">CANCELAR</button>
	</div>
</div>
